.dashboard {
  padding: 10px;
  font-family: 'Arial', sans-serif;
  background-color: #d0eff859;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.dashboard-actions .action-btn,
.dashboard-actions .refresh-btn,
.dashboard-actions .menu-btn {
  background-color: #ffffff;
  color: rgb(93, 93, 93);
  border: 1px solid rgba(159, 159, 159, 0.526);
  padding: 8px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.dashboard-actions .date-filter-btn{
  background-color: #ffffff;
  color:#000941;
  border: 1px solid #000941fa;
  padding: 8px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.dashboard-section {
  padding: 10px;
  display: inline-block;
}

.section-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.widgets-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  justify-content: space-between;
}

.widget-placeholder {
  width: 350px;
  height: 200px;
  background-color: #ffffff;
  border: 2px dashed #d0d0d074;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  color: #838383;
}

.widget-placeholder button{
  padding: 5px;
  background-color: rgba(169, 169, 169, 0.216);
  border: 1px solid rgba(168, 168, 168, 0.445);
  color: rgb(111, 106, 106);
}

.side-pane {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 350px;
  background-color: white;
  border-left: 2px solid #ababab;
  z-index: 1000;
  box-shadow: -2px 0px 10px rgba(0,0,0,0.1);
}

.side-pane-header {
  font-size: 12px;
  height: 40px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #050062;
  color: white;
}

.side-pane-header .close-btn {
  background: none;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.side-pane-content {
  padding: 30px;
}

.widget-nav .nav-item {
  background-color: #ffffff;
  border: 1px solid rgba(177, 177, 177, 0.592);
  padding: 8px;
  margin-right: 10px;
  cursor: pointer;
  color: rgba(125, 125, 125, 0.833);
}

.widget-nav .nav-item.active {      
  border-color: #050062;
  color: #050062;
  font-weight: 600;
}

.widget-list .widget-item {
  display: inline-block;
  margin-top: 20px;
  align-items: flex-start;
  font-size: 15px;
}

.widget-list .widget-item input[type="checkbox"] {
  margin-right: 10px;
  display: inline-block;
}

.side-pane-footer {
  display: flex;
  justify-content: end;
  background-color: #f4f4f4;
  margin-top: 100%;
  position: static;
}

.side-pane-footer .cancel-btn {
  margin-left: 20px;
  border-radius: 10px;
  background-color: #ffffff;
  color: #050062;
  border-color: #050062;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 600;
}

.side-pane-footer .confirm-btn{
  font-weight: 600;
  margin-left: 20px;
  border-radius: 10px;
  background-color:#050062;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.add-widget-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  width: 400px;
}

.modal-title {
  font-size: 18px;
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}

.modal-actions .add-btn {
  background-color: #4a90e2;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.modal-actions .cancel-btn {
  background-color: #ccc;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.widget-item{
  background-color: #ebeaea87;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
}
